.s1{
  font-size: 15px;
  padding-bottom: 28px;
  background-color: #242424;
  height: 100px;
}
.s2{
    color: #ffffff;
    font-size: 15px;
    padding-top: 28px;
    display: table-cell;
    line-height: 22px;
    height: 53px;
    width: 1%;
    vertical-align: middle;
    text-align: center;
}
.s3:hover{
   color: orange;
}

.sp{
    color: #999900;
}